{{- /*gotype: goweb/hw4/models.Page*/ -}}
{{ define "index" }}

    {{ template "header" . }}

    <div class="uk-container">
        <h1 class="uk-padding uk-padding-remove-left uk-padding-remove-right">{{ .Title }}</h1>
        {{ template "Posts" . }}
    </div>

    {{ template "footer" }}

{{ end }}

{{ define "Posts" }}
    <div class="uk-child-width-1-2@m" uk-grid>
        {{- /*gotype: goweb/hw4/models.Page*/ -}}
        {{ range $key, $value := .Posts }}
            {{- /*gotype: goweb/hw4/models.BlogPost*/ -}}
            {{ if .Status }}
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="../images/600_ava.jpeg">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">
                                        <a href="/blog/{{ .ID }}" class="uk-link-heading">{{ .Title }}</a>
                                    </h3>
                                    <p class="uk-text-meta uk-margin-remove-top">
                                        <time datetime="{{ .Created.Format "2006-01-02 15:04" }}">{{ .Created.Format "Jan 02, 2006 15:04" }}</time>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>{{ .Text }}</p>
                            <div class="uk-align-left">
                                <a href="/category/{{ .Category.ID }}"><div class="uk-card-badge uk-label">{{ .Category.Title }}</div></a>
                            </div>
                        </div>
                        <div class="uk-card-footer">
                            <a href="/blog/{{ .ID }}" class="uk-button uk-button-text">Read more</a>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
